@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap");
@import "tailwindcss";

@layer base {
  .font-jetbrains {
    font-family: "JetBrains Mono", monospace;
  }
}
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(150px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #6d6d6d 100%);
  filter: blur(240px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(500px);
}
@layer components {
  .reveal-up {
    @apply opacity-0 translate-y-10 transition-all duration-700 ease-out;
  }

  .reveal-left {
    @apply opacity-0 -translate-x-10 transition-all duration-700 ease-out;
  }

  .reveal-right {
    @apply opacity-0 translate-x-10 transition-all duration-700 ease-out;
  }

  .reveal-zoom {
    @apply opacity-0 scale-90 transition-all duration-700 ease-out;
  }

  .show {
    @apply opacity-100 translate-x-0 translate-y-0 scale-100;
  }
}
